{% extends 'index/login_navbar.html' %}
{% load static %}
{% block content %} 
!-- Link to CSS stylesheet -->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <link rel="stylesheet" href="style.css">
  <!-- Link to jQuery library -->

  <!-- Link to jQuery Validation plugin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<br><br><br>
<button class="btn btn-secondary back-btn" style="margin-left: 10px;background-color: grey" onclick="history.back()">Back</button>

<form method="POST" id="change">
  {% csrf_token %}
  <h2>Change Password</h2>
  <div>
    <label for="current-password">Current Password</label>
    <input type="password" id="current-password" name="current-password" required>
  </div>
  <div>
    <label for="new-password">New Password</label>
    <input type="password" id="new-password" name="new-password" required>
  </div>
  <div>
    <label for="confirm-password">Confirm Password</label>
    <input type="password" id="confirm-password" name="confirm-password" required>
  </div>
  <button type="submit">Change Password</button>

</form>


<script>
$(document).ready(function(){
  $("#change").submit(function(event){
    event.preventDefault(); // Prevent the form from submitting normally

    var old_pass = $("#current-password").val();
    var new_pass = $("#new-password").val();
    var conf_pass = $("#confirm-password").val();

    $.ajax({
      type: "POST",
      dataType: "json",
      url: "/student/change_password",
      data: {
        'current-password': old_pass,
        'new-password': new_pass,
        'confirm-password': conf_pass,
        'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
      },
      success: function(response) {
        var message = response.message;
        window.location.href = "/student/studentlogin?message=" + encodeURIComponent(message); 
      },
      error: function(xhr, status, error){
        console.error(error);
      }
    });
  });
});



</script>
<style type="text/css">
	form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

</style>
  {% endblock %}
