{% extends 'index/login_navbar.html' %}
{% load static %}
{% block content %} 
!-- Link to CSS stylesheet -->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <link rel="stylesheet" href="style.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<br><br><br>
<button class="btn btn-secondary back-btn" style="margin-left: 10px;background-color: grey" onclick="history.back()">Back</button>
<form method="POST" id="change" style="margin-bottom: 100px;">
  {% csrf_token %}
  <h2>Forgot Password</h2>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" class="form-control" name="email" placeholder="please check your mail id for OTP" required><br>
    <button type="submit" style="margin-top: 20px;" >SEND</button>
  </div>
  <div>

</form>

<br><br><br></div>
<script>
$(document).ready(function(){
  $("#change").click(function(){
    var email = $("#email").val();

    $.ajax({
      type: "POST",
      dataType: "json",
      url: "/student/forgot-password/",
      data: {
        email: email,

        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
      },
      success: function(response){
      
      },
      error: function(xhr, status, error){
        console.error(error);
      }
    });
  });
});

</script>
<style type="text/css">
	form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

</style>
  {% endblock %}
